<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Ansel Adams</title>
    <link rel="stylesheet" href="stylesheets/global.css" />
  </head>
  <body>
    <h1>Some facts about Ansel Adams</h1>
    <ul>
      <li>Born: February 20, 1902</li>
      <li>Hometown: San Francisco, CA</li>
      <li>Occupation: Photographer</li>
      <li>Died: April 22, 1984</li>
    </ul>
  </body>
</html>
