<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="stylesheets/gallery.css" />
    <link rel="stylesheet" href="stylesheets/global.css" />
  </head>
  <body>
    <h1>Ansel Adams Photo Gallery</h1>
    <div class="photogallery">
      <img src="images/half-dome.jpeg" alt="half dome picture" />
      <img src="images/curtain.jpg" alt="curtain picture" />
      <img src="images/dunes.jpg" alt="dunes picture" />
    </div>
    <div class="photogallery">
      <img src="images/glacial.jpg" alt="glacial picture" />
      <img src="images/orchard.jpg" alt="orchard picture" />
      <img src="images/ocean.jpg" alt="ocean picture" />
    </div>
  </body>
</html>
